<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title class="d-flex justify-content-center">
                    <strong>PERFIL DE USUARIO</strong>
                </mat-card-title>
                <mat-card-title class="d-flex justify-content-center text-danger">44ª Compañía
                    Jalapa, Jalapa
                </mat-card-title>
                <br>
                <!--<mat-card-subtitle>Check the <code
                            class=""><a href="https://material.angular.io/components/tabs/overview">Official Component</a></code>
                    </mat-card-subtitle>-->
                <div class="d-flex justify-content-center" *ngIf="!this.serviceP.perfil">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <!-- User profile image -->
                <div class="d-flex justify-content-center">
                    <div class="user-profile" *ngIf="this.serviceP.perfil">
                        <div class="profile-img"> <img [src]="this.serviceP.perfil.url_Imagen"
                                [alt]="this.serviceP.perfil.url_Imagen"> </div>
                    </div>
                </div>
                <!-- User profile text-->
                <form  class="matero-form-horizontal" *ngIf="this.serviceP.perfil">
                    <div fxLayout="row wrap" fxLayoutGap="8px grid">
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Nombre</mat-label>
                                <input matInput placeholder="" [value]="this.serviceP.perfil.Nombre" required>
                            </mat-form-field>
                        </div>


                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Apellidos</mat-label>
                                <input matInput placeholder="" [value]="this.serviceP.perfil.Apellido" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div fxLayout="row wrap" fxLayoutGap="8px grid">
                        <div fxFlex="30" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker4" autocomplete="off"
                                    placeholder="Fecha de nacimiento" [value]="this.serviceP.perfil.Fecha_Nac" required>
                                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex="70" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Dirección</mat-label>
                                <input matInput placeholder="Ingrese su dirección"
                                    [value]="this.serviceP.perfil.Direccion" required>
                            </mat-form-field>
                        </div>

                    </div>
                    <br>
                    <div fxLayout="row wrap" fxLayoutGap="8px grid">
                        <div fxFlex="30" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="Ingrese su Correo electrónico"
                                    [value]="this.serviceP.perfil.Correo" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex="24" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Género</mat-label>
                                <input matInput placeholder="Ingrese Genero" [value]="this.serviceP.perfil.Genero"
                                    required>
                            </mat-form-field>
                        </div>
                        <div fxFlex="23" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Teléfono</mat-label>
                                <input matInput placeholder="Ingrese su número de teléfono"
                                    [value]="this.serviceP.perfil.Telefono" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex="23" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Celular</mat-label>
                                <input matInput placeholder="Ingrese su número de celular"
                                    [value]="this.serviceP.perfil.Celular" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-select [value]="this.serviceP.perfil.Compania[0]">
                                    <mat-option *ngFor="let item of serviceP.perfil.Compania" [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <br>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>